<section class="banner" id="banner">
    <div class="content"></div>
</section>
<section>
    <div class="main-outer" style="margin-top:15px ">
        <h1 class="card-title">SIGN IN TO YOUR ACCOUNT</h1>
        <hr>
        <form [formGroup]="findCustomerForm" (ngSubmit)="findCustomer()">
            <div class="row id-outer">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 outer">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="text" matInput formControlName="email">
                    </mat-form-field>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 outer">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="text" matInput formControlName="password">
                    </mat-form-field>
                </div>
                <div class="col-12 btn-outer-save">
                    <button type="submit" class="save-btn" mat-raised-button color="primary"
                            [disabled]="findCustomerForm?.invalid">Find Customer
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>



