p {
  font-weight: 300;
  color: #111;
}

.banner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

@media (max-width: 991px) {
  section {
    padding: 20px;
  }

  .banner .content h2 {
    font-size: 3em;
    color: #fff;
  }
}