p {
  font-weight: 300;
  color: #111;
}

.banner {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 4em;
  color: #fff;
}

.banner .content p {
  font-size: 1em;
  color: #fff;
}

.btn {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 20px;
  // background-color: #ff0157;
  background-color: black;
  border: 1px solid white;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  /*An animation*/
  transition: 0.5s;
}

.btn:hover {
  letter-spacing: 6px;
}

.btn.sign-up,
.btn.login {
  border-radius: 0;
  margin-top: 0;
  margin-right: 10px;
  width: 20%
}

.login-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}

mat-form-field {
  width: 100%;
  margin-right: 4%
}



@media (max-width: 991px) {
  section {
    padding: 20px;
  }

  .banner .content h2 {
    font-size: 3em;
    color: #fff;
  }
}

