p {
  font-weight: 300;
  color: #000000;
}

.banner {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-color: black;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 4em;
  color: #ffffff;
}

.banner .content p {
  font-size: 1em;
  color: #fff;
}

.form {
  width: 100%;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  // align-items: center;
  position: relative;
  background-color: #ffffff;
  background-size: cover;
  padding: 0 25%;
}

.form .content {
  font-size: 1em;
  color: #fff;
  //text-align: center;
  width: 100vw;
  padding: 20px;
}

@media (max-width: 991px) {
  section {
    padding: 20px;
  }

  .banner .content h2 {
    font-size: 3em;
    color: #fff;
  }

  .form .content {
    width: 100vw;
  }

}