<section class="banner" id="banner">
    <div class="content">
        <h2 style="margin-top: 20px;line-height: 120%">ACCOUNT MANAGE</h2>
    </div>
</section>
<section style="background-color: rgb(255,255,255)" class="form">
    <div class="content">

        <div class="process">
            <mat-tab-group>
                <mat-tab label="Login">
                    <app-login></app-login>
                </mat-tab>

                <mat-tab label="Sign Up">
                    <app-sign-up></app-sign-up>
                </mat-tab>
            </mat-tab-group>
        </div>

    </div>
</section>