p {
  font-weight: 300;
  color: #111;
}

.banner {
  width: 100%;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 4em;
  color: #fff;
}

.banner .content p {
  font-size: 1em;
  color: #fff;
}

.btn {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 20px;
  // background-color: #ff0157;
  background-color: black;
  border: 1px solid white;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  /*An animation*/
  transition: 0.5s;
}

.btn:hover {
  letter-spacing: 6px;
}

@media (max-width: 991px) {
  section {
    padding: 20px;
  }

  .banner .content h2 {
    font-size: 3em;
    color: #fff;
  }

  .banner{
    min-height: 10vh;
  }
}

//--------------------------------------------

.main-outer {
  margin-top: 60px;
}

.card-title {
  margin-left: 10px;
}

h1 {
  font-weight: bold;
  color: #192a56;
  letter-spacing: 1px;
}

.row {
  margin: 10px 20px;
  justify-content: space-between;
}

.full-width {
  width: 250px;
  height: 60px;
}

.btn-outer-save {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
