p {
  font-weight: 300;
  color: #111;
}

.banner {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("../../../assets/images/two-fashion-black-men-fashionable-portrait-african-american-male-models-wear-suit-coat-hat (1).jpg") center;
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 4em;
  color: #fff;
}

.description {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(69, 69, 69, 0.59);
  background-size: cover;
  padding: 0 25%;
}

.description .content p {
  font-size: 1em;
  color: #fff;
  text-align: center;
}

.banner .content p {
  font-size: 1em;
  color: #fff;
}

.btn {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 20px;
  // background-color: #ff0157;
  background-color: black;
  border: 1px solid white;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
  /*An animation*/
  transition: 0.5s;
  width: 100%;
}

.fav {
  background: white;
  border: 1px solid black;
  color: black;
}

.btn:hover {
  letter-spacing: 6px;
}


.expert .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
}

.expert .content .box {
  width: 250px;
  margin: 15px;
}

.expert .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}


.expert .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.expert .content .box .text {
  padding: 15px 0 5px;
}

.expert .content .box .text h3 {
  font-weight: 400;
  color: #111;
}


@media (max-width: 991px) {
  section {
    padding: 20px;
  }

  .banner .content h2 {
    font-size: 3em;
    color: #fff;
  }
}