<section class="banner" id="banner">
    <div class="content">
        <h2>NEW ARRIVALS</h2>
    </div>
</section>
<section class="description">
    <div class="content">
        <p>Our sizes were custom developed by the Petite Studio design team to ﬁt the petite frame. This size chart will
            help you pick your size..</p>
    </div>
</section>
<section class="expert" id="expert">
    <div class="content">
        <ng-container *ngFor="let item of productList">
            <div class="box">
                <div class="imgBx">
                    <img src="{{item.imagePath}}" alt="image">
                </div>
                <div class="text"style="margin-bottom: 0">
                    <h2 style="font-size:25px">{{item.name}}</h2>
                    <h3 style="font-size:18px">{{item.description}}</h3>
                    <h3 style="font-weight: bold; font-size:18px">$ {{item.price}}.00</h3>
                </div>

                <button style="border-radius: 0; margin-top: 0" (click)="addToCart(item)" class="btn">Add to Cart</button>
                <button style="border-radius: 0;  margin-top: 10px" class="btn fav">Add Favourite  <i class="fa-regular fa-heart"></i> </button>
            </div>
        </ng-container>
    </div>
</section>
<app-footer></app-footer>
